*{
  box-sizing: border-box;
}
.navbar{
  position:fixed;
 background-color:transparent;
 backdrop-filter: blur(30px);
 padding: 20px;
 width: 100%;
  z-index: 1;

  
}
.contenedorLogoNavbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedorLogoNavbar ul{
  width:80vh;
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  list-style-type: none;

}
.contenedorLogoNavbar a{
  color: antiquewhite;
  text-decoration: none;

}



body {
  background-image: url("./public/imgs/home.imagen.jpeg");
  background-size: cover;
  height: 100vh;
  background-position: center;
}

.logo img {
  height: 8vh; 
  padding: 10px;
  border-radius: 10px;
  background-color: var(--light);
}

.inputSearch {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  height: 24px;
  width: 100%;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 30px;
  text-indent: 4px;

}
